@import url("./_base.scss");
@import url("./_components.scss");
@import url("./_layout.scss");
@import url("./_typography.scss");
@import url("./_utilities.scss");
@import url('./components/_card.scss');
// @import url('./components/_loaders.scss');
@import url('./components/_cart-summary.scss');

.spinner {
    width:2.5rem;
    height:2.5rem;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#fff);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 5px),#000 0);
    mask:radial-gradient(farthest-side,#0000 calc(100% - 5px),#000 0);
    animation:s3 .5s infinite linear;
  }
  @keyframes s3 {to{transform: rotate(1turn)}}

.blob {
    background-color: var(--color-logo);
    border-radius: 50%;
}

.blob--1 {
    width: 10rem;
    height: 10rem;

    animation: rotateLargeCircle 2s ease-in-out infinite alternate-reverse;
}

.blob--2 {
    width: 5rem;
    height: 5rem;
    animation: rotateSmall 2s ease-in-out infinite alternate-reverse;
}   

@keyframes rotateSmall {
    0% {
        transform: translate(5rem,-2rem);
    }

    50% {
        transform: translate(-4rem,-13rem);
    }

    100% {
        transform: translate(-4rem,-2rem);
    }
}

@keyframes rotateLargeCircle {
    0% {
        transform: translate(0,0);
    }

    50% {
        transform: translate(0,2rem);
    }
}

.loader {
    filter: url("../img/goo.svg#goo");
    padding: 5rem;

    display: grid;
    place-items: center;
}


.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: grid;
    place-items: center;
}


/* --------------------- CHECKOUT ------------------------- */

.checkout {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    z-index: 200;
    overflow-y: scroll;
    background-color: var(--color-modal-background);

    transition: all .5s ease-in;
}

.checkout--hidden {
    transform: translateX(100%);
    visibility: hidden;
}

/* .checkout ~ * {
    display: none;
} */

.checkout__container {
    width: 80vw;
    margin: 0 auto;

    display: grid;
    grid-column-gap: 5rem;
    justify-content: space-around;
    grid-template-columns: repeat(2,1fr);
}

.checkout__btn-back {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    padding: 1rem;

    font-size: 1.6rem;
    font-family: inherit;

    background-color: var(--color-modal-background);
}

.checkout__btn-back:hover svg{
    transform: translateX(-.5rem);
}

.checkout__btn-back svg{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    color: var(--color-logo);
    transition: transform .2s;
}

.checkout__form {
    background-color: #fff;
    padding: 3rem 3rem;
    display: grid;
    // grid-column-gap: 3rem;
    // grid-template-columns: 1fr 20%;

    position: relative;
}

.numbered-step::before {
    display: grid;
    place-items: center;
    width: 4rem;
    height: 4rem;

    border-radius: 50%;
    padding: .3rem;

    font-family: inherit;
    font-size: 2rem;

    position: absolute;
}

.numbered-step--form::before {
    transform-origin: 50% 50%;
    transform: translate(-50%,55%);
    background-color: var(--color-onBlue);
    color: var(--color-blue);
}

.step-next::before {
    background-color: var(--color-modal-background-light);
    border: 3px solid #ddd;

    transform-origin: 50% 50%;
    transform: translate(-140%,-20%);
}

.step-next--shipping::before {
    content: "2";
}

.step-next--payment::before {
    content: "3";
}

.numbered-step--form--billing::before {
    content: "1";
}

.numbered-step--form--shipping::before {
    content: "2";
}

.checkout__heading,
.checkout__email,
.checkout__fullname,
.checkout__province,
.checkout__city,
.checkout__form button {
    grid-column: 1 / -1;
}

.checkout__heading {
    font-size: 2.5rem;
    font-weight: 700;
}

.checkout__form-group {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

.checkout__form-group label {
    font-size: 1.2rem;
    font-weight: 200;
}

.checkout__form-group input,
.checkout__form-group select{
    font-family: inherit;
    font-size: 1.8rem;
    padding: 1rem 1.6rem;

    border: solid 1px #e2e2e2;
}

.checkout__form-group input:focus {
    border: none;
    outline: solid 1px var(--color-secondary);
    box-shadow: 0 0 .5rem #a6dcf7;
}

.checkout__left {
    grid-column: 1;
    display: grid;
    grid-row-gap: 3rem;
}

.checkout__useshipping {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.checkout__useshipping input {
    margin-right: 1rem;
}

#useshipping:focus {
    border: none;
    outline: none;
}

.order-summary {
    width: 35vw;
    position: fixed;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 2rem;

    background-color: #fff;
    padding: 4rem 0;

    font-size: 1.6rem;
    font-weight: 300;
}

.order-summary .checkout__heading {
    font-size: 2rem;
}

.order-summary > * {
    padding: 0 4rem;
}

.order__items,
.order__total {
    grid-column: 1 / -1;
}

.order__items {
    border-bottom:solid 1px #ddd ;
    padding-bottom: 2rem;

    display: grid;
    grid-row-gap: 1rem;
}

.order__item {
    display: grid;
    grid-template-columns: 5fr repeat(2,2fr);
}

.order__item .price {
    justify-self: end;
}

.order__total
{
    grid-column: 1/ -1;
    display: flex;
    justify-content: space-between;

    font-weight: 700;
    font-size: 1.8rem;
}

.summary__btn-edit--order,
.order-summary .checkout__heading {
    grid-row: 1;
}

.summary__btn-edit--order {
    margin-right: 4rem;
}

.btn-complete-payment--paid:hover {
    transform: none;
    box-shadow: none;
}

/* --------------------- Billing SUMMARY ------------------------- */

.summary {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 2rem;
    background-color: var(--color-modal-background-light);
    padding: 4rem;

    position: relative;
}

.summary__check {
    position: absolute;
    top: 3rem;
    left: -2rem;

    display: grid;
    place-items: center;
    background-color: #fff;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.summary__check svg {
    width: 3rem;
    height: 3rem;
    color: var(--color-blue);
}

.summary__heading {
    grid-row: 1;
    font-size: 2.3rem;
}

.summary__icon {
    width: 2rem;
    height: 2rem;
    color: var(--color-logo);
}

.summary__btn-edit {
    grid-row: 1 ;
    grid-column: 2;
    justify-self: right;
    align-self: center;
    color: var(--color-blue);
    border-bottom: 1px solid var(--color-blue);
    padding: .2rem 0;

    background-color: inherit;

    font-family: inherit;
    font-weight: 700;
}

.summary__address,
.summary__person {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: min-content max-content;
    grid-template-rows: repeat(2,min-content);

    font-size: 1.4rem;
    font-weight: 300;
}

.summary__icon {
    grid-row: 1 / -1;
    align-self: center;
}

.step-next {
    background-color: var(--color-modal-background-light);
    padding: 2rem 5rem;

    position: relative;
}



.btn-cta {
    background-color: #1a4db3;
    padding: 2rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 5px;
    letter-spacing: 1px;

    height: 1.5vw;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}

.btn-cta:hover {
    background-color: #0d59f2;
    box-shadow: 0 10px 4px -8px rgba(0,0,0,.5);
    transform: translateY(-3px);
}

.btn-cta__icon {
    width: 2rem;
    height: 2rem;
    transform: rotate(180deg) translateX(-2rem);
    transition: transform .2s;
}

.btn-cta:hover .btn-cta__icon {
    transform: rotate(180deg) translate(-2.5rem);
}

.btn-payment-completed {
    background-color: rgb(28, 184, 54);
}

.btn-payment-completed .text-continue {
    display: none;
}

.btn-complete-payment span {
    margin-left: 1rem;
}

.text-continue svg{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.btn-payment-completed:hover .text-completed {
    display: none;
}

.btn-payment-completed:hover .text-continue {
    display: flex;
    align-items: center
}


@media only screen and (max-width: 1000px) {
    .checkout__container {
        width: 90vw;
    }

    .order-summary {
        width: 40vw;
    }
}

@media only screen and (max-width: 500px) {
    .checkout__container {
        justify-content: stretch;
        grid-template-columns: auto;
    }

    .order-summary {
        position: static;
        grid-row: 1;
        width: 100%;
    }

    .checkout__right {
        grid-row: 2;
        margin-bottom: 2rem;
    }
}