header.header
  .header__content
    a.header__logo(href='#')
      svg
        use(xlink:href='./img/sprite.svg#logo')
      |           ReplicaZone
    .header__buttons
      button.header__cart
        svg
          use(xlink:href='./img/sprite.svg#cart')
        span.header__price
          | R
          span.header__value