.checkout.checkout--hidden
  .checkout__container
    button.checkout__btn-back
      svg
        use(xlink:href='./img/arrow.svg#arrow')
      |  Continue shopping
    .checkout__left
      .summary.summary--billing.hidden
        .summary__check
          svg
            use(xlink:href='./img/tick.svg#tick')
        h6.checkout__heading.summary__heading Billing
        button.summary__btn-edit.summary__btn-edit--billing Edit
        .summary__person
          svg.summary__icon
            use(xlink:href='./img/person.svg#person')
          span.name
          span.email
        .summary__address
          svg.summary__icon
            use(xlink:href='./img/location.svg#location')
          span.street
          span.city
      form.numbered-step.numbered-step--form.numbered-step--form--billing.checkout__form.checkout__form--billing(action='')
        h6.checkout__heading Billing
        .checkout__form-group.checkout__fullname
          label(for='#billing-fullname') Full name
          input#billing-fullname(type='text' name='fullname' required='')
        .checkout__form-group.checkout__email
          label(for='#billing-email') Email
          input#billing-email(type='email' name='email' required='')
        .checkout__form-group.checkout__province
          label(for='#billing-province') Province
          select#billing-province.provinces(type='select' name='province' required)
        .checkout__form-group.checkout__city
          label(for='#billing-city') City
          input#billing-city(type='text' name='city' required='')
        .checkout__form-group.checkout__street
          label(for='#billing-street') Street address
          input#billing-street(type='text' name='street' required='')
        .checkout__form-group.checkout__zipcode
          label(for='#billing-zipcode') Postal/ZIP code
          input#billing-zipcode(type='text' name='zipcode')
        .checkout__form-group.checkout__useshipping
          label(for='#useshipping') Use as shipping address
          input#useshipping(type='checkbox' name='useshipping' checked='')
        button.btn-cta.mt-small(type='submit')
          span  Continue to shipping 
      .numbered-step.step-next.step-next--shipping
        h6.checkout__heading.summary__heading Shipping
      form.numbered-step.numbered-step--form.numbered-step--form--shipping.checkout__form.checkout__form--shipping.hidden(action='')
        h6.checkout__heading Shipping
        .checkout__form-group.checkout__province
          label(for='#shipping__province') Province
          select#shipping__province.provinces(type='text' name='province' required)
        .checkout__form-group.checkout__city
          label(for='#shipping__city') City
          input#shipping__city(type='text' name='city' required='')
        .checkout__form-group.checkout__street
          label(for='#shipping__street') Street address
          input#shipping__street(type='text' name='street' required='')
        .checkout__form-group.checkout__zipcode
          label(for='#shipping__zipcode') Postal/ZIP code
          input#shipping__zipcode(type='text' name='zipcode')
        button.btn-cta.mt-small(type='submit')
          span  Continue to Payment 
      .summary.summary--shipping.hidden
        .summary__check
          svg
            use(xlink:href='./img/tick.svg#tick')
        h6.checkout__heading.summary__heading Shipping
        button.summary__btn-edit.summary__btn-edit--shipping Edit
        .summary__address
          svg.summary__icon
            use(xlink:href='./img/location.svg#location')
          span.street
          span.city
        .summary__person
          svg.summary__icon
            use(xlink:href='./img/box.svg#box')
          span.shipping Free shipping!
      .numbered-step.step-next.step-next--payment
        h6.checkout__heading.summary__heading Payment
      form#payment-form.checkout__form.hidden(method='POST')
        #card-frame
          // Yoco Inline form will be added here
        button#pay-button.btn-cta.mt-small.btn-complete-payment.hidden
          .spinner.hidden processing payment
            span.dot.dot-1 .
            span.dot.dot-2 .
            span.dot.dot-3 .
          span.text
      button.btn-cta.mt-small.btn-payment-completed.hidden
        span.text-completed Payment successfuly Completed!
        span.text-continue
          svg
            use(xlink:href='./img/arrow.svg#arrow')
          |  Continue shopping
    .checkout__right
      .order-summary
        h6.checkout__heading Order Summary
        button.summary__btn-edit.summary__btn-edit--order Edit
        .order__items
        .order__total
          | Total 
          span